<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h1 class="d-flex justify-content-center">Сортування гребінцем</h1>                
            </div>
            <div class="col-md-6">
                <h1 class="d-flex justify-content-center">Cортування Гоара </h1>
            </div>
            <div class="col-md-12">
                <h2 class="d-flex justify-content-center">{{ _combSortArray }}</h2>
            </div>
            <div class="col-md-6">
               <h3  class="d-flex justify-content-center"> Кроки  {{ _combSortStep }} </h3> 
            </div>
            <div class="col-md-6">
              <h3  class="d-flex justify-content-center">  Кроки {{ _quickSortingStep }}  </h3>  
            </div>
        </div>
    </div>
</div>

<div class="chart-area-container">
    <ngx-charts-line-chart
            [scheme]="colorScheme"
            [legend]="legend"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [timeline]="timeline"
            [results]="_dataCombSorts">
    </ngx-charts-line-chart>

</div>
