<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h1>Сортування гребінцем</h1>                
                 {{ _combSortArray }}  
            </div>
            <div class="col-md-6">
                <h1>Cортування Гоара </h1>
                {{ _quickSortingArray }} 
            </div>
            <div class="col-md-6">
               {{ _combSortArrayTime }}
            </div>
            <div class="col-md-6">
                {{ _quickSortingArrayTime }}
            </div>
        </div>
    </div>
</div>